
/* jumbotron styling */
.jumbotron {
    display: flex;
    justify-items: center;
    align-items: center;
}
.jumbotron div {
    margin: auto;
    padding: 10px;
}


/* styles to make images on top of card consistent */
.card-img-top {
    width: 100%;
    height: 35vw;
    max-height: 200px;
    object-fit: cover;
}

/* card margins */
.card {
    margin: 15px;
}

/* skills section styling */
#skills .row {
    align-items: center;
}

#skills img {
    width: 90%;
}

/* footer styling */
footer {
    height: min-content;
    margin-top: 15px;
    background-color: min-content;
    }

footer div {
    padding: 12px 0px 0px 0px;
}

footer p {
    margin: 0px;
}

footer i {
    height: 25px;
    font-size: x-large;
    padding: 0px 15px 0px 15px;
}

footer .btn {
    margin: 0px 10px 5px 10px;
    width: 80px;
}

/* hover effect for buttons (shadow) */
button:hover,
.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* responsivity for small screen size: skills image removed */
@media screen and (max-width: 767px) {
    #skills img {
        display: none
    }
}
